/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.no-margin-left{
  margin-left: 0px !important;
  padding-left:  0px;
}

.margin-auto{
  margin: 0 auto;
}

#logo{
  margin: 0 !important;
  padding: 0 !important;
  width: 80px;
  height: 60;
}

#flag{
  margin: 0 !important;
  padding: 0 !important;
  width: 30px;
  height: auto;
}

html,
body {
  margin:0;
  padding:0;
  height:100%;
  min-width:1000px; /* suppose you want minimun width of 1000px */
  width: auto !important;  /* Firefox will set width as auto */
  width:1000px;    
}
#wrapper {
  min-height:100%;
  position:relative;
}

header {
  text-align: center;
}

main {
  padding-bottom:70px; /* Height of the footer element */
}

footer {
  background-color: #000;
  color: #FFF;
  width:100%;
  height: 50px;
  position:absolute;
  bottom:0;
  left:0;
  padding: 1rem;
  text-align: center;
}

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: center;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: center;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: center;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: center;
 }

/*flash end*/

h1{
  font-size: 32px !important;
}

#main-nav {
    background: #edabab;
}

body .row{
  margin: 0;
  padding: 0;
}

header *{
  font-size: 18px;
}

.paddingRemove{
  padding: 0;
  padding-left: 0;
  padding-right: 0;
}

div.main{
  margin: 0;
  padding :0
}

header img{
  padding: 10px;
}

header a{
  color: #000;
  text-decoration: none;
  padding: 0 5px;
}

header a:hover{
  color: #aaa;
  text-decoration: none;
}

.navbar-default{
  background: #fff;
  border-radius: 0;
}

.news{
  margin-bottom: 25px;
}
.news .content,
.formWrapper .content{
  margin: 0 auto;
  float: none;
  border: 1px solid #aaa;
  border-radius: 10px;
  overflow: auto;
  background: #F5D8D8;
}

.news .date{
  text-align: left;
}

.vertical-align {
    display: flex;
    align-items: center;
    justify-content: center;
}

.formWrapper .content .info{
  border-bottom: 1px solid #aaa;
  text-align: center;
  border-right: solid #aaaaaa 1px;
  border-left: solid #aaaaaa 1px;
}

header .language span span:hover,
header .logReg span:hover,
.formWrapper .content .info h5:hover{
  color: #aaa;
  cursor: pointer;
}

.formWrapper .loginWrapper,
.formWrapper .registerWrapper{
  padding: 20px 10px;
  margin-top:30px;
}

.formWrapper label{
  float: left;
}

.formWrapper a.forgotPassword{
  min-height: 20px;
  margin: 10px 0;
  display: block;
  float: right;
}

.formWrapper i{
  padding: 10px;
}

.formWrapper i.fa-google-plus-square{
  color: #DD4B39;
}

.formWrapper i.fa-google-plus-square:hover{
  color: #AB3627;
}

.formWrapper div{
  margin:5px 0;
}

.formWrapper .extra{
  clear:both;
}


.navbar-default {
  background-color: #e74c3c;
  border-color: #c0392b;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #e74c3c;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #c0392b;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar-default .navbar-toggle {
  border-color: #c0392b;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #c0392b;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ffbbbc;
}

@media (max-width: 800px) {
  header *{
    font-size: 12px;
  }

  header img{
    margin: 0;
  }

  header .language *{
    font-size: 10px;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffbbbc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffbbbc;
    background-color: #c0392b;
  }
}

