#contact_container{
  width:90%;
  margin: 0 auto;
  height: 100%;
  margin-bottom: 20px;
}

.contact_data{
  border: 3px black solid;
  padding: 20px;

}

#sizing-addon{
  font-size: 20px;
}

.lines{
  height: 2px;
  color: #333;
  background-color: #333;
}

#recrutation{
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.fb-page {
    width: 100% !important; 
    position: relative;          
    text-align:center !important;
}

.dynamic {
}

.static {
}

.clear {
    clear: both;
    height:20px;
}