.asset_list_header, .asset_list, .asset_details { 
    width:1000px; 
    font-weight:bold; 
    font-size:12px; 
    overflow:initial; 
} 
.file_name_header, .file_name { 
    width:350px; 
    float:left; 
    padding-left:20px; 
} 
.file_size_header, .file_size { 
    width:100px; 
    float:left; 
} 
.file_last_updated_header, .file_last_updated { 
    width:120px; 
    float:left; 
}
.file_author_header, .file_author { 
    width:120px; 
    float:left; 
}
.file_download { 
    width:75px; 
    float:left; 
}
.file_delete { 
    width:75px; 
    float:left; 
} 
.asset_list { 
    padding:20px 0; 
} 
.asset_details { 
    font-weight:normal; 
    height:25px; 
    line-height:25px; 
    border:1px solid #FFF; 
    width:900px; 
    color:#4F4F4F; 
} 
  
.asset_details a, .asset_details a:visited { 
    text-decoration:none; 
    color:#1D96EF; 
    font-size:12px; 
}

.description{
  width: 500px;
  height: 10em !important;
}