body .row{
  margin: 0;
  padding: 0;
}

header *{
  font-size: 18px;
}

.paddingRemove{
  padding: 0;
  padding-left: 0;
  padding-right: 0;
}

div.main{
  margin: 0;
  padding :0
}

header{
  text-align: center;
}

header img{
  padding: 10px;
}

header a{
  color: #000;
  text-decoration: none;
  padding: 0 5px;
}

header a:hover{
  color: #aaa;
  text-decoration: none;
}

.navbar-default{
  background: #fff;
  border-radius: 0;
}

.news{
  margin-top: 40px;
}
.news .content,
.formWrapper .content{
  margin: 0 auto;
  float: none;
  text-align: center;
  border: 1px solid #aaa;
  border-radius: 10px;
  overflow: auto;
}

.news .date{
  text-align: left;
}

.vertical-align {
    display: flex;
    align-items: center;
    justify-content: center;
}

.formWrapper .content .info{
  border-bottom: 1px solid #aaa;
}

header .language span span:hover,
header .logReg span:hover,
.formWrapper .content .info h5:hover{
  color: #aaa;
  cursor: pointer;
}

.formWrapper .loginWrapper,
.formWrapper .registerWrapper{
  padding: 20px 10px;
  margin-top:30px;
}

.formWrapper label{
  float: left;
}

.formWrapper a.forgotPassword{
  min-height: 20px;
  margin: 10px 0;
  display: block;
  float: right;
}

.formWrapper i{
  padding: 10px;
}

.formWrapper i.fa-google-plus-square{
  color: #DD4B39;
}

.formWrapper i.fa-google-plus-square:hover{
  color: #AB3627;
}

.formWrapper div{
  margin:5px 0;
}

.formWrapper .extra{
  clear:both;
}

/* Landscape phones and portrait tablets */
@media (max-width: 480px) {
  header *{
    font-size: 12px;
  }

  header img{
    margin: 0;
  }

  header .language *{
    font-size: 10px;
  }

}
