<div class="form-container">
    <%= link_to I18n.t('back'), topics_path, class: 'btn btn-warning' %>
    <br/><br/>
    <h1><%= I18n.t('topics.new_topic') %> </h1>
    <br/>
    <%= render 'form', topic: @topic %>
</div>
