    <div class="row" id="about_center">
      <h2> <%= I18n.t('about_us') %></h2>
      <div class="row">
        <%= image_tag("group_photo.jpg", id:"group_photo") %>
      </div>
      <div class="col-md-10 id" id="about_text">
        <p class="center">
          Chór Ostinato to wokalny zespół kameralny, od samego początku prowadzony przez Lilianę Jędrzejczak, absolwentkę Wrocławskiej Akademii Muzycznej. Zespół powstał w listopadzie 2011 roku z inicjatywy dawnego członka Chóru Politechniki Wrocławskiej Jarka Skórskiego. Obecnie spora część składu zespołu, to byli członkowie Chóru Politechniki Wrocławskiej, prowadzonego przez wiele lat przez p. Piotra Ferensowicza. W zespole silny trzon stanowią również osoby niezwiązane z Chórem Politechniki. Są wśród nich studenci i osoby związane z osiedlem Ołbin, przy którym działa zespół. Od samego początku istnienia zespół sporo koncertuje i stale powiększa swój repertuar, w którego skład wchodzą utwory muzyki dawnej i współczesnej. Ostinato nie stroni od żadnego rodzaju muzyki, więc na koncertach usłyszeć można utwory świeckie i religijne, a sporą część zajmuje folklor polski, oraz utwory zebrane z całego świata.  W roku 2015 zespół stanął do dwóch konkursów chóralnych. W Borku Strzelińskim zajął pierwsze miejsce na konkursie... oraz wyróżnienie gdzieś pod Oleśnicą. ;-) 
        </p>
        <p class="center">
         Chór Ostinato od roku 2014 jest organizatorem Wrocławskiego Festiwalu Chórów Osiedlowych. Festiwal ten z roku na rok cieszy się coraz większą popularnością i systematycznie się rozrasta. W pierwszym roku brało w nim udział osiem chórów a w 2015 już dwanaście.
        </p>
      </div>
    </div>