   <main>
        <div class="formWrapper">
            <div class="row">
                <div class="col-xs-10 col-sm-5 col-md-3 content paddingRemove"">
                    <div class="col-xs-6 info">
                        <h5 class="toLogin">Zaloguj się</h5>
                    </div>
                    <div class="col-xs-6 info">
                        <h5 class="toRegister">Zarejestruj się</h5>
                    </div>
                    <div class="loginWrapper">
                        <form>
                            <div class="form-group">
                                <label for="email">Login albo adres Email</label>
                                <input type="text" class="form-control" id="email">
                            </div>
                            <div class="form-group">
                                <label for="password">Hasło</label>
                                <input type="password" class="form-control" id="password">
                            </div>
                            <div class="col-xs-6">

                                <div class="checkbox">
                                    <label>
                              <input type="checkbox"> Zapamiętaj mnie
                            </label>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <a class="forgotPassword" href="#">Zapomniałeś hasła?</a>
                            </div>
                            <div class="col-xs-12">
                                <button type="submit" class="btn btn-default">Zaloguj się</button>
                            </div>
                            <div class="col-sm-8 col-xs-12 vertical-align extra">
                                <span>Zaloguj się przez: </span>
                                <a href="#"><i class="fa fa-google-plus-square fa-3x" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a>
                            </div>
                        </form>
                    </div>
                    <div class="row">

                        <div class="registerWrapper">
                            <form>
                                <div class="form-group">
                                    <label for="surname">Nazwisko</label>
                                    <input type="text" class="form-control" id="surname">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="email">
                                </div>
                                <div class="form-group">
                                    <label for="reEmail">Powtórz email</label>
                                    <input type="email" class="form-control" id="reEmail">
                                </div>
                                <div class="form-group">
                                    <label for="password">Hasło</label>
                                    <input type="password" class="form-control" id="password">
                                </div>
                                <div class="col-xs-12">
                                    <div class="checkbox">
                                        <label>
                                      <input type="checkbox">Akceptuję regulamin
                                    </label>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <button type="submit" class="btn btn-default">Zarejestruj się</button>
                                </div>
                                <div class="col-sm-8 col-xs-12 vertical-align extra">
                                    <span>Zaloguj się przez: </span>
                                    <a href="#"><i class="fa fa-google-plus-square fa-3x" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>
